

/* *******************Flex container *************** */
.middle-area{
    display: flex;
    width:100%;
    margin-left : auto ;
    margin-right : auto ; 
}

.img-area {
    display: flex;
    flex:1;
    flex-flow: column;
    width: 1140px;
    height: fit-content;
}
.bg-img{
    padding-left: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 328px;
    background-image: linear-gradient(transparent 0%, black 100%), url(../CSS/images/logo.jpg);
    float: left;
    border-bottom: #23b45d 5px solid;
}

.table-item li{
    list-style: none;
    padding-right:15px;
    padding-left:15px;
    font-size:14px;
    float: left;
}

.main-content{
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 100%;
}  
.course-part{
    padding-left: 40px;
    padding-top: 18px;
    padding-right: 19px;
    

}
.part-of{
    color: #555;
    font-size: 14px;
    display: inline;    
}

.course-path{

    display: inline;
}
.path-name{
    color:white;
    
    font-size:16px;
}
.course-options{
    float: left;
    color: white;
}

.course-expand{
    width:100%;
    float: right;
    text-align: right;
    color: #f05a28;
    padding-top: 20px;
    border-bottom: #555 1px solid;
}
.path-img{
    margin-bottom: -18px;
    width: 50px;
    height: 50px;
}

.section-list{
    padding-right:20px;
}

.hidden-area{
    width: 100%;
    margin-top: 25px;
    font-size: 17px;
    list-style: none;
    display: inline-block;
    background-color: rgb(24, 22, 22)
}
.section-list li{
    width: 100%;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    display: inline-block;
    border-bottom: #555 1px solid;
}
.section-list, .play-icon{
  color: gray;
}

.video-name{
    color: white;
    padding-left:5px;
}

.video-title-div{
    display: inline-block;
    float: left;
}

.video-info{
    padding-left:40px;
    float: right;
}

 .time{
    margin-right: 56px;
}

.last-part{
    font-size:10px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    display: inline-block;
    padding-right: 26px;
}

.parag{
 font-size: 10px;
 border:none;
}


.share{
float: left;    
}

.share-course{
    display: inline-block;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 35px;
}

.social-media{
    font-size: 25px;
    display: inline-block;
    color: gray;
    margin: 0px;
    padding-left: 10px;
    padding-top: 18px;
}

.social-media-icon{
    padding-right:20px;
}

/*
.search-text{
    font-size: 17px;
    color: white;
}
.search {
    font-size: 50px;
}
*/
