body {
  background-color: #181818;
  font-family: Helvetica;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

ul {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #222222;
  height: 940px;
  margin-left: 150px;
  margin-right: 150px;
}

.main-toolbar {
  height: 55px;
  background-color: #363636;
  border-bottom: 1px solid black;
}

.main-toolbar .company-logo {
  float: left;
  display: inline-block;
  padding-top: 1%;
  padding-left: 20px;
  padding-right: 13px;
  border-right: 1px solid #181818;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1px;
}

.main-toolbar .company-logo i {
  color: white;
  font-size: 20px;
  padding-right: 15px;
}

.main-toolbar .company-logo .company-name {
  color: white;
  font-size: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.main-toolbar .search-container {
  background-color: #363636;
  margin-left: 10px;
  line-height: 20px;
}

.main-toolbar .search-container .search-item {
  margin-left: 10px;
  background-color: #363636;
  font-size: 21px;
  color: gray;
}

.main-toolbar .search-container .search-box {
  height: 40px;
  width: 450px;
  background-color: #333;
  border: none;
  outline: none;
}

.main-toolbar .search-container .pops {
  display: none;
  height: 100%;
  width: 100%;
  margin-left: -160px;
  background: rgba(33, 34, 34, 0.96);
  opacity: 0.99;
  position: fixed;
  z-index: 1;
  top: 0;
}

.main-toolbar .search-container .pops .inner {
  margin-top: 29px;
  margin-left: 20%;
}

.main-toolbar .search-container .pops input {
  height: 200px;
  font-size: 80px;
  width: 1000px;
  color: white;
  outline: none;
}

.main-toolbar .search-container .pops .search-text {
  font-size: 17px;
  color: white;
}

.main-toolbar .search-container .pops .inner-search {
  height: 40px;
  width: 450px;
  background-color: rgba(33, 34, 34, 0.96);
  border: none;
}

.main-toolbar .search-container .pops .cls-pop {
  font-size: 40px;
}

.main-toolbar .search-container .pops .cls-pop .clsbtn .fa-times {
  float: right;
  margin-right: 300px;
  margin-top: 10px;
  background-color: rgba(33, 34, 34, 0.96);
  color: gray;
}

.main-toolbar ::-webkit-input-placeholder {
  color: #B4AEAE;
  font-size: 15px;
  height: 70%;
}

.main-toolbar .user {
  display: inline-block;
  float: right;
  margin-top: -40px;
}

.main-toolbar .user .user-settings {
  float: right;
  color: dimgray;
  padding-right: 20px;
  border-left: 1px solid #181818;
  padding-left: 20px;
  top: 50%;
  transform: translateY(30%);
}

.main-toolbar .user .user-settings .fa-ellipsis-h {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-size: 27px;
}

.main-toolbar .user .user-settings #triangle {
  display: none;
  padding-top: 1px;
  position: absolute;
}

.main-toolbar .user .user-settings .user-menu-content {
  right: -18px;
  height: 300px;
  width: 200px;
  overflow-y: scroll;
  display: none;
  -webkit-margin-collapse: 15px;
  top: 50px;
  margin-bottom: 30px;
  color: black;
  position: absolute;
  background-color: #f9f9f9;
  overflow: auto;
  z-index: 1;
  border-radius: 3px;
}

.main-toolbar .user .user-settings .user-menu-content .dropdown-item {
  position: relative;
  display: block;
  font-size: 15px;
  padding: 7px 5px 0px 10px;
}

.main-toolbar .user .user-container {
  float: right;
  top: 50%;
  transform: translateY(40%);
  padding-right: 10px;
}

.main-toolbar .user .user-container .fa-user-circle {
  float: right;
  color: gray;
  font-size: 35px;
  padding-right: 10px;
}

.main-toolbar .user .user-container .user-info {
  float: right;
  font-size: 10px;
  letter-spacing: .5px;
  color: white;
  text-align: right;
  padding-right: 10px;
}

.main-toolbar .user .user-container .user-info .user-name {
  font-size: 17px;
  padding-bottom: 3px;
}

.main-toolbar .user-settings-menu {
  position: relative;
  display: inline-block;
}

.main-toolbar .user-settings-menu span:hover {
  background-color: #c9c6c6;
}

.main-toolbar .user-settings-menu .first-items-dropdown {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px;
}

.main-toolbar .user-settings-menu ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #181818;
  font-family: Helvetica;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

ul {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #222222;
  height: 940px;
  margin-left: 150px;
  margin-right: 150px;
}
/*# sourceMappingURL=style.css.map */