<script src="components/middle-area/tabs-section/tabs.js"></script>
<div class="content-table tabs">
    <ul class="course-options table-item tab-links">
        <li class="active">
            <span tab="tab-1">Table of content</a>
        </li>
        <li>
            <span tab="tabs-2">discription</a>
                </il>
                <li>
                    <span tab="tabs-3">transcript </a>
                </li>
                <li>exercize files</li>
                <li>discussion</li>
                <li>learning check</li>
                <li>recommended</li>
    </ul>
</div>
<div class="tab-content">
    <div id="tabs-2" class="tab">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque
            molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa
            ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum
            mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra
            nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere,
            felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
    </div>
    <div id="tabs-3" class="tab">
        <p>tab transcript</p>
    </div>

    <div id="tab-1" class="active tab" class="videos-section">
        <div class="course-part">
            <span class="part-of">
                This course is part of:
            </span>
            <div class="course-path">
                <img class="path-img" src="CSS\images\CSS-icon.png" width="50" height="50">
                <span class="path-name"> CSS path</span>
                <span class="course-expand">
                    Expand all
                </span>
            </div>
        </div>
        <ul class="section-list">
            <li>
                <div class="video-title-div">
                    <i class="fa play-icon fa-play-circle"></i>
                    <span class="video-name">An introduction to CSS</span>
                </div>
                <div>
                    <i class="fa video-info toggle fa-chevron-down" aria-hidden="true"></i>
                    <span class="video-info">27m 5s</span>
                    <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                    <i class="fa video-info  fa-check" aria-hidden="true"></i>
                </div>
                <ul class="hidden-area">
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Introduction</span>
                        </div>
                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">why css</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Rules</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                </ul>
            </li>

            <li>
                <div class="video-title-div">
                    <i class="fa play-icon fa-play-circle"></i>
                    <span class="video-name">Introduction to CSS</span>
                </div>

                <div>
                    <i class="fa video-info fa-chevron-down toggle" aria-hidden="true"></i>
                    <span class="video-info">27m 5s</span>
                    <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                    <i class="fa video-info watched fa-check" aria-hidden="true"></i>
                </div>
                <ul id="section" class="hidden-area">
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Introduction</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">why css</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Rules</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                </ul>
            </li>

            <li>
                <div class="video-title-div">
                    <i class="fa play-icon fa-play-circle"></i>
                    <span class="video-name">An introduction to CSS</span>

                </div>
                <div>
                    <i class="fa video-info fa-chevron-down toggle" aria-hidden="true"></i>
                    <span class="video-info">27m 5s</span>
                    <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                    <i class="fa video-info watched fa-check" aria-hidden="true"></i>
                </div>
                <ul id="section" class="hidden-area">
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Introduction</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">why css</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Rules</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                </ul>
            </li>

            <li>
                <div class="video-title-div">
                    <i class="fa play-icon fa-play-circle"></i>
                    <span class="video-name">An introduction to CSS</span>
                </div>

                <div>
                    <i class="fa video-info fa-chevron-down toggle" aria-hidden="true"></i>
                    <span class="video-info">27m 5s</span>
                    <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                    <i class="fa video-info watched fa-check" aria-hidden="true"></i>
                </div>
                <ul id="section" class="hidden-area">
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Introduction</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">why css</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Rules</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                </ul>
            </li>
            <li>
                <div class="video-title-div">
                    <i class="fa play-icon fa-play-circle"></i>
                    <span class="video-name">An introduction to CSS</span>
                </div>

                <div>
                    <i class="fa video-info fa-chevron-down toggle" aria-hidden="true"></i>
                    <span class="video-info">27m 5s</span>
                    <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                    <i class="fa video-info watched fa-check" aria-hidden="true"></i>
                </div>
                <ul id="section" class="hidden-area">
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Introduction</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">why css</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                    <li>
                        <div class="video-title-div">
                            <span class="video-name">Rules</span>
                        </div>

                        <div>
                            <span class="video-info time">27m 5s</span>
                            <i class="fa video-info fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa video-info  fa-check" aria-hidden="true"></i>
                        </div>

                    </li>
                </ul>
            </li>
            <li>
                <p class="parag">The trademarks and trade names of third parties mentioned in this course are the property of their respective
                    owners, and Pluralsight is not affiliated with or endorsed by these parties.</p>
            </li>
        </ul>
    </div>
</div>