.content-table {
    text-transform: capitalize;
    width: $full;
    height: 35px;
    padding-bottom: 20px;
    border-bottom: #555 1px solid;
    .table-item {
        float: left;
        color: $primary-color;
        li {
            list-style: none;
            padding-right: 15px;
            padding-left: 15px;
            font-size: 14px;
            float: left;
        }
        .active {
            border-bottom: #f05a28 5px solid;
            padding-bottom: 18px;
            .tab {
                display: block;
            }
        }
        li {
            list-style: none;
            padding-right: 15px;
            padding-left: 15px;
            font-size: 14px;
            float: left;
        }
    }
}

//.active
.course-part {
    padding-left: 40px;
    padding-top: 18px;
    padding-right: 19px;
    .part-of {
        color: #555;
        font-size: 14px;
        display: inline;
    }
    .course-path {
        display: inline;
        .path-img {
            margin-bottom: -18px;
            width: 50px;
            height: 50px;
        }
        .path-name {
            font-size: 16px;
        }
        .course-expand {
            width: $full;
            float: right;
            text-align: right;
            color: #f05a28;
            padding-top: 20px;
            border-bottom: #555 1px solid;
        }
    }
}

.section-list {
    padding-right: 20px;
    li {
        width: $full;
        font-size: $normal-font-size;
        padding-top: 20px;
        padding-bottom: 20px;
        list-style: none;
        display: inline-block;
        border-bottom: #555 1px solid;
        .video-title-div {
            display: inline-block;
            float: left;
            .play-icon {
                color: $gray;
            }
            .video-name {
                color: $primary-color;
                padding-left: 5px;
            }
        }
        .video-info {
            padding-left: 40px;
            float: right;
            color: $primary-color;
        }
        .watched {
            color: #23b45d;
        }
    }
    .hidden-area {
        width: $full;
        margin-top: 25px;
        font-size: $normal-font-size;
        list-style: none;
        display: inline-block;
        background-color: rgb(24, 22, 22);
        .video-title-div {
            display: inline-block;
            float: left;
            .play-icon {
                color: $gray;
            }
            .video-name {
                color: $primary-color;
                padding-left: 5px;
            }
        }
        .video-info {
            padding-left: 40px;
            float: right;
        }
    }
    .time {
        margin-right: 56px;
    }
    .last-part {
        font-size: 10px;
        width: $full;
        padding-top: 20px;
        padding-bottom: 20px;
        list-style: none;
        display: inline-block;
        padding-right: 26px;
    }
    .watched {
        color: #23b45d;
    }
    .parag {
        font-size: 10px;
        border: none;
    }
}