.content-table {
  text-transform: capitalize;
  width: 100%;
  height: 35px;
  padding-bottom: 20px;
  border-bottom: #555 1px solid;
}

.content-table .table-item {
  float: left;
  color: white;
}

.content-table .table-item li {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  float: left;
}

.content-table .table-item .active {
  border-bottom: #f05a28 5px solid;
  padding-bottom: 18px;
}

.content-table .table-item li {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  float: left;
}

.active.tab {
  display: block;
}

.tab {
  display: none;
}

.course-part {
  padding-left: 40px;
  padding-top: 18px;
  padding-right: 19px;
}

.course-part .part-of {
  color: #555;
  font-size: 14px;
  display: inline;
}

.course-part .course-path {
  display: inline;
}

.course-part .course-path .path-img {
  margin-bottom: -18px;
  width: 50px;
  height: 50px;
}

.course-part .course-path .path-name {
  font-size: 16px;
}

.course-part .course-path .course-expand {
  width: 100%;
  float: right;
  text-align: right;
  color: #f05a28;
  padding-top: 20px;
  border-bottom: #555 1px solid;
}

.section-list {
  padding-right: 20px;
}

.section-list li {
  width: 100%;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: inline-block;
  border-bottom: #555 1px solid;
}

.section-list li .video-title-div {
  display: inline-block;
  float: left;
}

.section-list li .video-title-div .play-icon {
  color: gray;
}

.section-list li .video-title-div .video-name {
  color: white;
  padding-left: 5px;
}

.section-list li .video-info {
  padding-left: 40px;
  float: right;
  color: white;
}

.section-list li .watched {
  color: #23b45d;
}

.section-list .hidden-area {
  width: 100%;
  margin-top: 25px;
  font-size: 17px;
  list-style: none;
  display: inline-block;
  background-color: #181616;
}

.section-list .hidden-area .video-title-div {
  display: inline-block;
  float: left;
}

.section-list .hidden-area .video-title-div .play-icon {
  color: gray;
}

.section-list .hidden-area .video-title-div .video-name {
  color: white;
  padding-left: 5px;
}

.section-list .hidden-area .video-info {
  padding-left: 40px;
  float: right;
}

.section-list .time {
  margin-right: 56px;
}

.section-list .last-part {
  font-size: 10px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: inline-block;
  padding-right: 26px;
}

.section-list .watched {
  color: #23b45d;
}

.section-list .parag {
  font-size: 10px;
  border: none;
}
/*# sourceMappingURL=tabs-style.css.map */