.left-menu {
  background-color: #222222;
  width: 225px;
  top: 61px;
  color: white;
  height: 100%;
  border-right: 1px solid #181818;
}

.list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-header {
  display: block;
  box-sizing: border-box;
  color: #aaa;
  background-color: #363636;
  padding-top: 10px;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.list-items {
  display: flex;
  flex-flow: column;
  text-align: left;
  list-style: none;
}

.second-list {
  font-size: 18px;
  margin-top: -10%;
  width: 50%;
  display: block;
  text-align: center;
}

.list-items, .list-icon {
  font-family: Gotham SSm A,Gotham SSm B,sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 10px;
  text-transform: capitalize;
  color: #aaa;
}
/*# sourceMappingURL=library.css.map */