<div class="list-group">
    <span class="list-header">library</span>
    <ul class="list-items">
        <li>
            <i class="fa list-icon fa-home" aria-hidden="true"></i>
            <span class="home">home </span>
        </li>

        <li>
            <i class="fa list-icon fa-play-circle-o" aria-hidden="true"></i>
            <span class="browse"> browse </span>
        </li>

        <li>
            <i class="fa list-icon fa-bullhorn" aria-hidden="true"></i>
            <span class="feed"> Feed </span>
        </li>
        <li>
            <i class="fa list-icon fa-glass" aria-hidden="true"></i>
            <span class="paths"> paths </span>
        </li>

        <li>
            <i class="fa list-icon fa-hand-paper-o" aria-hidden="true"></i>
            <span class="mentors"> mentors </span>
        </li>

        <li>
            <i class="fa list-icon fa-podcast" aria-hidden="true"></i>
            <span class="channels"> channels </span>
        </li>

        <li>
            <i class="fa list-icon fa-bookmark-o" aria-hidden="true"></i>
            <span class="bookmarks"> bookmarks </span>
        </li>
        <li>
            <i class="fa list-icon fa-address-book" aria-hidden="true"></i>
            <span class="notes"> notes </span>
        </li>

        <li>
            <i class="fa list-icon fa-code" aria-hidden="true"></i>
            <span class="school"> code school </span>
        </li>
    </ul>

</div>

<div class="list-group">
    <span class="list-header">library</span>
    <ul class="list-items">
        <li>
            <i class="fa list-icon fa-home" aria-hidden="true"></i>
            <span class="home">home </span>
        </li>

        <li>
            <i class="fa list-icon fa-play-circle-o" aria-hidden="true"></i>
            <span class="browse"> browse </span>
        </li>

        <li>
            <i class="fa list-icon fa-bullhorn" aria-hidden="true"></i>
            <span class="feed"> Feed </span>
        </li>
        <li>
            <i class="fa list-icon fa-glass" aria-hidden="true"></i>
            <span class="paths"> paths </span>
        </li>

        <li>
            <i class="fa list-icon fa-hand-paper-o" aria-hidden="true"></i>
            <span class="mentors"> mentors </span>
        </li>

        <li>
            <i class="fa list-icon fa-podcast" aria-hidden="true"></i>
            <span class="channels"> channels </span>
        </li>


    </ul>

</div>