.list-group {
    display: flex;
    flex-direction: column;
    width: $full;
    .list-items {
        display: flex;
        flex-flow: column;
        text-align: left;
        list-style: none;
        .list-icon {
            font-family: Gotham SSm A, Gotham SSm B, sans-serif;
            font-size: 15px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 12px;
            padding-top: 10px;
            text-transform: capitalize;
            color: #aaa;
        }
    }
}

.list-header {
    display: block;
    box-sizing: border-box;
    color: #aaa;
    background-color: $bg-gray;
    padding-top: 10px;
    text-align: left;
    font-size: 18px;
    width: $full;
    padding-left: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}