.right-area {
  width: 250px;
  background-color: #222222;
}

.right-area .course-author {
  padding-top: 21px;
  padding-left: 22px;
}

.right-area .course-author .right-area-title {
  color: white;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 23px;
}

.right-area .course-author .author-info {
  display: flex;
  /* align-content: center; */
  align-items: center;
}

.right-area .course-author .author-info .author-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.right-area .course-author .author-info .author-name {
  display: inline-block;
  text-align: center;
  color: orangered;
  font-size: 15px;
}

.right-area .course-author .author-discription {
  color: white;
  width: 100%;
  font-size: 14px;
  padding-top: 15px;
}

.right-area .course-author .course-info {
  padding-top: 45px;
  width: 100%;
}

.right-area .course-author .course-info .course-info-title {
  display: inline;
  color: white;
  font-size: 15px;
  text-align: center;
}

.right-area .course-author .course-info .right-table {
  border-top: #181818 1px solid;
  margin-right: 32px;
}

.right-area .course-author .course-info .right-table .right-table-row {
  margin-left: -30px;
  border-bottom: #181818 1px solid;
  padding-bottom: 30px;
  padding-top: 15px;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details {
  padding-bottom: 15px;
  font-size: 12px;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .info-option {
  width: 40%;
  float: left;
  display: block;
  color: gray;
  text-transform: capitalize;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .option-is {
  float: left;
  display: block;
  padding-right: 3px;
  color: white;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .rate .option-is {
  float: left;
  display: block;
  padding-right: 3px;
  color: white;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .rate .default-star {
  color: gray;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .rate .active-star {
  color: #ae8017;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .info-option {
  width: 40%;
  float: left;
  display: block;
  color: gray;
  text-transform: capitalize;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .fa-star {
  color: #ae8017;
}

.right-area .course-author .course-info .right-table .right-table-row .course-info-details .fa-star-half-o {
  color: #ae8017;
}

.right-area .course-author .share-course {
  display: inline-block;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 35px;
}

.right-area .course-author .share-course .share {
  float: left;
}

.right-area .course-author .share-course ul {
  font-size: 25px;
  display: inline-block;
  color: gray;
  margin: 0px;
  padding-left: 10px;
  padding-top: 18px;
}

.right-area .course-author .share-course ul li {
  padding-right: 20px;
}
/*# sourceMappingURL=right-menu-css.css.map */