.right-area {
    width: 250px;
    background-color: #222222;
    .course-author {
        padding-top: 21px;
        padding-left: 22px;
        .right-area-title {
            color: white;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 23px;
        }
        .author-info {
            display: flex;
            /* align-content: center; */
            align-items: center;
            .author-img {
                border-radius: $border-curve;
                width: 50px;
                height: 50px;
                display: inline-block;
            }
            .author-name {
                display: inline-block;
                text-align: center;
                color: orangered;
                font-size: 15px;
            }
        }
        .author-discription {
            color: white;
            width: $full;
            font-size: 14px;
            padding-top: 15px;
        }
        .course-info {
            padding-top: 45px;
            width: $full;
            .course-info-title {
                display: inline;
                color: white;
                font-size: 15px;
                text-align: center;
            }
            .right-table {
                border-top: #181818 1px solid;
                margin-right: 32px;
                .right-table-row {
                    margin-left: -30px;
                    border-bottom: #181818 1px solid;
                    padding-bottom: 30px;
                    padding-top: 15px;
                    .course-info-details {
                        padding-bottom: 15px;
                        font-size: 12px;
                        .info-option {
                            width: 40%;
                            float: left;
                            display: block;
                            color: $gray;
                            text-transform: capitalize;
                        }
                        .option-is {
                            float: left;
                            display: block;
                            padding-right: 3px;
                            color: white;
                        }
                        .rate {
                            .option-is {
                                float: left;
                                display: block;
                                padding-right: 3px;
                                color: white;
                            }
                            .default-star {
                                color: $gray;
                            }
                            .active-star {
                                color: #ae8017;
                            }
                        }
                        .info-option {
                            width: 40%;
                            float: left;
                            display: block;
                            color: $gray;
                            text-transform: capitalize;
                        }
                        .fa-star {
                            color: #ae8017;
                        }
                        .fa-star-half-o {
                            color: #ae8017;
                        }
                    }
                }
            }
        }
        .share-course {
            display: inline-block;
            color: white;
            font-size: 15px;
            text-align: center;
            padding-top: 35px;
            .share {
                float: left;
            }
            ul {
                font-size: 25px;
                display: inline-block;
                color: gray;
                margin: 0px;
                padding-left: 10px;
                padding-top: 18px;
                li {
                    padding-right: 20px;
                }
            }
        }
    }
}