<script src="components/right-menu/rating/rating.js"></script>
<div class="course-author">
    <span class="right-area-title"> Course author </span>
    <div class="author-info">
        <div class="author-img">
            <img class="author-img" src="CSS\images\author-img.jpeg">
        </div>
        <div class="author-name"> Scott Allen</div>
    </div>
    <div class="author-discription">
        Scott has over 15 years of experience in commercial software development and is a frequent speaker at national conferences,
        and local user groups. Scott is a Microsoft MVP and...
    </div>
    <div class="course-info">
        <div class="course-info-title">
            Course info
        </div>

        <ul class="right-table">
            <div class="right-table-row">
                <il class="course-info-details">
                    <div class="info-option"> level </div>
                    <span class="option-is">
                        Beginner
                    </span>
                </il>
            </div>
            <div class="right-table-row">
                <li class="course-info-details">
                    <span class="info-option"> level </span>
                    <i class="fa fa-star option-is" aria-hidden="true"></i>
                    <i class="fa fa-star option-is" aria-hidden="true"></i>
                    <i class="fa fa-star option-is" aria-hidden="true"></i>
                    <i class="fa fa-star option-is" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o option-is " aria-hidden="true"></i>
                    <span class="option-is"> (2313)</span>

                </li>
            </div>

            <div class="right-table-row">
                <il class="course-info-details">
                    <span class="info-option"> level </span>
                    <div class="rate">
                        <i class="fa fa-star-o option-is star default-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o option-is star default-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o option-is star default-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o option-is star default-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o option-is star default-star" aria-hidden="true"></i>
                    </div>

                </il>
            </div>

            <div class="right-table-row">
                <il class="course-info-details">
                    <div class="info-option"> level </div>
                    <span class="option-is">
                        1h 20m
                    </span>
                </il>
            </div>
            <div class="right-table-row">
                <il class="course-info-details">
                    <div class="info-option"> level </div>
                    <span class="option-is">
                        18 Jul 2011
                    </span>
                </il>
            </div>
        </ul>

    </div>
    <div class="share-course">
        <div class="share">Share Course </div>
        <ul class="social-media">

            <li class="fa fa-facebook social-media-icon" aria-hidden="true">
                <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">

                </a>
            </li>

            <li class="fa fa-twitter social-media-icon" aria-hidden="true"></li>
            <li class="fa fa-google-plus social-media-icon" aria-hidden="true"></li>
            <li class="fa fa-linkedin social-media-icon" aria-hidden="true"></li>
        </ul>
    </div>
</div>