<script src="components/maintoolbar/search/search.js"></script>
<script src="components/maintoolbar/user-settings-menu/user-settings-menu.js"></script>
<div class="company-logo">
    <i class="fa fa-play-circle"></i>
    <span class="company-name">PLURALSIGHT</span>
</div>
<div class="search-container">
    <i class="fa fa-search search-item" aria-hidden="true"></i>
    <a href="#" class="opop">
        <input type="search" class="search-box" placeholder="What do you want to learn?">
    </a>
    <div class="pops">
        <div class="inner">
            <span class="search-text">search</span>
            </br>
            <input type="text" class="inner-search">
            <a href="#" class="cls-pop ">
                <i class="fa fa-times clsbtn"></i>
            </a>
        </div>
    </div>
</div>
<div class="user">
    <div class="user-settings">
        <div class="user-settings-menu">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <i class="fa fa-caret-up " id="triangle" aria-hidden="true"></i>
            <div id="myDropdown" class="user-menu-content">
                <span class="dropdown-item">Account</span>
                <span class="dropdown-item">History</span>
                <hr>
                <span class="dropdown-item">Contact</span>
                <span class="dropdown-item">Home</span>
                <span class="dropdown-item">About</span>
                <span class="dropdown-item">Contact</span>
                <span class="dropdown-item">Contact</span>
                <span class="dropdown-item">Home</span>
                <span class="dropdown-item">About</span>
                <span class="dropdown-item">Contact</span>
                <span class="dropdown-item">Contact</span>
                <span class="dropdown-item">Home</span>
                <span class="dropdown-item">About</span>
                <span class="dropdown-item">Contact</span>
            </div>
        </div>
    </div>
    <div class="user-container">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <div class="user-info">
            <div class="user-name">
                <span>Faisal</span>
            </div>
            <div class="user-email">
                <span>faisal@gmail.com</span>
            </div>
        </div>
    </div>
</div>