.main-toolbar {
    height: 55px;
    background-color: #363636;
    border-bottom: 1px solid black;
    .company-logo {
        float: left;
        display: inline-block;
        padding-top: 1%;
        padding-left: 20px;
        padding-right: 13px;
        border-right: 1px solid #181818;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1px;
        i {
            color: $primary-color;
            font-size: 20px;
            padding-right: 15px;
        }
        .company-name {
            color: $primary-color;
            font-size: $normal-font-size;
            top: $center;
            transform: translateY(-$center);
        }
    }
    .search-container {
        background-color: #363636;
        margin-left: 10px;
        line-height: 20px;
        .search-item {
            margin-left: 10px;
            background-color: #363636;
            font-size: 21px;
            color: $gray;
        }
        .search-box {
            height: 40px;
            width: 450px;
            background-color: #333;
            border: none;
            outline: none;
        }
        .pops {
            display: none;
            height: $full;
            width: $full;
            margin-left: -160px;
            background: rgba(33, 34, 34, .96);
            opacity: 0.99;
            position: fixed;
            ;
            z-index: 1;
            top: 0;
            .inner {
                margin-top: 29px;
                margin-left: 20%;
            }
            input {
                height: 200px;
                font-size: 80px;
                width: 1000px;
                color: $primary-color;
                outline: none;
            }
            .search-text {
                font-size: $normal-font-size;
                color: $primary-color;
            }
            .inner-search {
                height: 40px;
                width: 450px;
                background-color: rgba(33, 34, 34, .96);
                border: none;
            }
            .cls-pop {
                font-size: 40px;
                .clsbtn {
                    .fa-times {
                        float: right;
                        margin-right: 300px;
                        margin-top: 10px;
                        background-color: rgba(33, 34, 34, .96);
                        color: $gray;
                    }
                }
            }
        }
    }
    ::-webkit-input-placeholder {
        color: #B4AEAE;
        font-size: 15px;
        height: 70%;
    }
    .user {
        display: inline-block;
        float: right;
        margin-top: -40px;
        .user-settings {
            float: right;
            color: dimgray;
            padding-right: 20px;
            border-left: 1px solid #181818;
            padding-left: 20px;
            top: $center;
            transform: translateY(30%);
            .fa-ellipsis-h {
                color: $primary-color;
                font-size: 16px;
                cursor: pointer;
                font-size: 27px;
            }
            #triangle {
                display: none;
                padding-top: 1px;
                position: absolute;
            }
            .user-menu-content {
                right: -18px;
                height: 300px;
                width: 200px;
                overflow-y: scroll;
                display: none;
                -webkit-margin-collapse: 15px;
                top: 50px;
                margin-bottom: 30px;
                color: black;
                position: absolute;
                background-color: #f9f9f9;
                overflow: auto;
                z-index: 1;
                border-radius: 3px;
                .dropdown-item {
                    position: relative;
                    display: block;
                    font-size: 15px;
                    padding: 7px 5px 0px 10px;
                }
            }
        }
        .user-container {
            float: right;
            top: $center;
            transform: translateY(40%);
            padding-right: 10px;
            .fa-user-circle {
                float: right;
                color: $gray;
                font-size: 35px;
                padding-right: 10px;
            }
            .user-info {
                float: right;
                font-size: 10px;
                letter-spacing: .5px;
                color: $primary-color;
                text-align: right;
                padding-right: 10px;
                .user-name {
                    font-size: $normal-font-size;
                    padding-bottom: 3px;
                }
            }
        }
    }
    .user-settings-menu {
        position: relative;
        display: inline-block;
        span {
            &:hover {
                background-color: rgb(201, 198, 198);
            }
        }
        .first-items-dropdown {
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 5px;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    }
}

//.user-settings-menu span:hover {background-color: #f1f1f1}