body {
  background-color: #181818;
  font-family: Helvetica;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.ul {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #222222;
  height: 940px;
  margin-left: 150px;
  margin-right: 150px;
}

.parag {
  font-size: 10px;
  border: none;
}
/*# sourceMappingURL=general.css.map */