body {
    background-color: #181818;
    font-family: Helvetica;
    margin: $deactive;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $gray;
    }
}

ul {
    margin: $deactive;
    padding: $deactive;
}

.main {
    background-color: #222222;
    height: 940px;
    margin-left: 150px;
    margin-right: 150px;
}