.introduction {
    margin-top: 50px;
    font-size: 55px;
    color: $primary-color;
    .title {
        font-size: 55px;
        color: $primary-color;
        margin-top: 15px;
    }
    .speaker {
        font-size: 20px;
        color: $primary-color;
    }
    .discription {
        padding-top: 30px;
        font-size: 16px;
        color: $primary-color;
        list-style: none;
    }
    .course-menu {
        display: inline-block;
        padding-top: 35px;
        .button-selected {
            background-color: #f96816;
        }
        .course-button {
            font-size: 15px;
            color: $primary-color;
            text-transform: capitalize;
            align-self: center;
            line-height: 40px;
            display: inline-block;
            padding: 0px 27px;
            text-align: center;
        }
    }
}