<div class="introduction">
    <div class="title">Introduction to CSS</div>
    <div class="speaker">by flan alflani</div>
    <div class="discription">This course introduces you to CSS</div>

    <div class="course-menu">
        <div class="course-button button-selected">
            <li class="fa course-option fa-play-circle" aria-hidden="true"></li>
            <span> resume course </span>
        </div>
        <div class="course-button">
            <li class="fa course-option fa-bookmark-o" aria-hidden="true"></li>
            <span> bookmark </span>
        </div>
        <div class="course-button">
            <li class=" fa course-option fa-podcast" aria-hidden="true"></li>
            <span> bookmark </span>
        </div>
        <div class="course-button">
            <li class="fa course-option fa-hand-paper-o" aria-hidden="true"></li>
            <span> live mentoring </span>
        </div>
    </div>
</div>