.introduction {
  margin-top: 50px;
  font-size: 55px;
  color: white;
}

.introduction .title {
  font-size: 55px;
  color: white;
  margin-top: 15px;
}

.introduction .speaker {
  font-size: 20px;
  color: white;
}

.introduction .discription {
  padding-top: 30px;
  font-size: 16px;
  color: white;
  list-style: none;
}

.introduction .course-menu {
  display: inline-block;
  padding-top: 35px;
}

.introduction .course-menu .button-selected {
  background-color: #f96816;
}

.introduction .course-menu .course-button {
  font-size: 15px;
  color: white;
  text-transform: capitalize;
  align-self: center;
  line-height: 40px;
  display: inline-block;
  padding: 0px 27px;
  text-align: center;
}

.parag {
  font-size: 10px;
  border: none;
}
/*# sourceMappingURL=course-intro-css.css.map */